
.navbar {
    background-color: rgba(127, 165, 239, 0.3);
    height: 92px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar-brand {
    font-size: 32px;
    font-family: Ubuntu, sans-serif;
    color: #181f29;
    display: flex;
    align-items: center;
}


.navbar-nav {
    display: flex;
    gap: 36px;
    margin: 0 auto;
}

.nav-item {
    font-size: 20px;
    font-weight: 500;
    font-family: Ubuntu, sans-serif;
    color: #181f29;
    text-align: center;
    display: flex;
}

.nav-link {
    font-size: 20px;
    font-weight: 500;
    font-family: Ubuntu, sans-serif;
    color: #181f29;
    text-align: center;
    display: flex;
    align-items: center;
    text-decoration: none;
}

form {
    display: inline;
}

form button.nav-link {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 20px;
    font-weight: 500;
    font-family: Ubuntu, sans-serif;
    color: #181f29;
    text-align: center;
    display: flex;
    align-items: center;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(0, 0, 0, 0.5)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}
